#dom-node__popup { 
  position: absolute;
  width: 220px;
  height: 80px;
  font-size: 14px;
  background-color: #DBDBDB;
  padding: 10px;
  border: 1px black solid;
}

.dom-node__mouse-visited {
  background-color: #bcd5eb !important;
  outline: 1px solid #5166bb !important;
}